{{ define "main" }}

<!-- clients -->
<div class="clients">
   <div class="container">
      <div class="row">
         <div class="col-md-6 offset-md-3">
            <div class="titlepage">
               <h2>{{ .Params.clienttitle }}</h2>
               <span></span>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="clients_box">
               <p>{{ .Params.clientcontent | markdownify }}</p>
            </div>
            <div class="jonu">
               <img src="/images/cross_img.png" alt="#"/>
               <h3>{{ .Params.clientname }}</h3>
               <strong>{{ .Params.clientdetail }}</strong>
               <a class="read_more" href="#">Get A Quote</a>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<!-- end clients -->
{{ end }}